################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/dsASPCAutoCAdmin/v15/Server/sqlite3
